## Using OOP

In [24]:

class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

    def describe_employee(self):
        print(f"Name: {self.name}")
        print(f"Number: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: {self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Year of Experience: {self.year_of_experience}")

    def update_year_of_experience(self, new_experience):
        self.year_of_experience = new_experience
        print(f"{self.name}'s year of experience updated to {self.year_of_experience} years.")

    def increase_salary(self, increment_amount):
        self.salary += increment_amount
        print(f"{self.name}'s salary increased by {increment_amount}. New salary: {self.salary}")

In [25]:
employee101 = Employee("Ali Khan", "101", "123 Main St, Karachi", 80000, "Software Engineer", 2020, "B.Sc. in Computer Science", 3)

In [26]:
print(employee101.name)
print(employee101.number)
print(employee101.address)
print(employee101.salary)

Ali Khan
101
123 Main St, Karachi
80000

In [27]:
employee101.describe_employee()
employee101.increase_salary(10000)
employee101.update_year_of_experience(4)

Name: Ali Khan
Number: 101
Address: 123 Main St, Karachi
Salary: 80000
Post: Software Engineer
Year of Joining: 2020
Education: B.Sc. in Computer Science
Year of Experience: 3
Ali Khan's salary increased by 10000. New salary: 90000
Ali Khan's year of experience updated to 4 years.

In [28]:
employees = [
    Employee("Ayesha Malik", "102", "456 Oak Ave, Lahore", 90000, "Data Analyst", 2018, "M.Sc. in Data Science", 5),
    Employee("Rahul Sharma", "103", "789 Pine Rd, Delhi", 85000, "Web Developer", 2019, "B.Sc. in IT", 4),
    Employee("Zara Ahmed", "104", "135 Maple Blvd, Islamabad", 70000, "System Admin", 2017, "B.Tech in Networking", 6),
    Employee("Arjun Singh", "105", "246 Cedar Ln, Mumbai", 78000, "Database Administrator", 2016, "M.Sc. in Computer Science", 7),
    Employee("Sara Siddiqui", "106", "357 Birch Ct, Hyderabad", 87000, "Network Engineer", 2020, "B.Sc. in Network Engineering", 3),
    Employee("Vikram Patel", "107", "468 Elm St, Bangalore", 92000, "Software Developer", 2015, "M.Sc. in Software Engineering", 8),
    Employee("Hina Qureshi", "108", "579 Spruce Way, Karachi", 91000, "DevOps Engineer", 2018, "M.Sc. in DevOps", 5),
    Employee("Rohan Kumar", "109", "680 Willow Dr, Chennai", 79000, "Technical Support", 2019, "B.Sc. in Computer Science", 4),
    Employee("Anam Khan", "110", "791 Aspen Ave, Lahore", 83000, "UX/UI Designer", 2021, "B.Des. in Design", 2),
    Employee("Sameer Ali", "111", "902 Redwood Pl, Pune", 75000, "QA Engineer", 2017, "B.Tech in Software Testing", 6)
]

In [29]:
for emp in employees:
    emp.describe_employee()

Name: Ayesha Malik
Number: 102
Address: 456 Oak Ave, Lahore
Salary: 90000
Post: Data Analyst
Year of Joining: 2018
Education: M.Sc. in Data Science
Year of Experience: 5
Name: Rahul Sharma
Number: 103
Address: 789 Pine Rd, Delhi
Salary: 85000
Post: Web Developer
Year of Joining: 2019
Education: B.Sc. in IT
Year of Experience: 4
Name: Zara Ahmed
Number: 104
Address: 135 Maple Blvd, Islamabad
Salary: 70000
Post: System Admin
Year of Joining: 2017
Education: B.Tech in Networking
Year of Experience: 6
Name: Arjun Singh
Number: 105
Address: 246 Cedar Ln, Mumbai
Salary: 78000
Post: Database Administrator
Year of Joining: 2016
Education: M.Sc. in Computer Science
Year of Experience: 7
Name: Sara Siddiqui
Number: 106
Address: 357 Birch Ct, Hyderabad
Salary: 87000
Post: Network Engineer
Year of Joining: 2020
Education: B.Sc. in Network Engineering
Year of Experience: 3
Name: Vikram Patel
Number: 107
Address: 468 Elm St, Bangalore
Salary: 92000
Post: Software Developer
Year of Joining: 2015
Education: M.Sc. in Software Engineering
Year of Experience: 8
Name: Hina Qureshi
Number: 108
Address: 579 Spruce Way, Karachi
Salary: 91000
Post: DevOps Engineer
Year of Joining: 2018
Education: M.Sc. in DevOps
Year of Experience: 5
Name: Rohan Kumar
Number: 109
Address: 680 Willow Dr, Chennai
Salary: 79000
Post: Technical Support
Year of Joining: 2019
Education: B.Sc. in Computer Science
Year of Experience: 4
Name: Anam Khan
Number: 110
Address: 791 Aspen Ave, Lahore
Salary: 83000
Post: UX/UI Designer
Year of Joining: 2021
Education: B.Des. in Design
Year of Experience: 2
Name: Sameer Ali
Number: 111
Address: 902 Redwood Pl, Pune
Salary: 75000
Post: QA Engineer
Year of Joining: 2017
Education: B.Tech in Software Testing
Year of Experience: 6

In [30]:
employees[0].increase_salary(5000)
employees[0].update_year_of_experience(6)
employees[1].increase_salary(6000)
employees[1].update_year_of_experience(5)

Ayesha Malik's salary increased by 5000. New salary: 95000
Ayesha Malik's year of experience updated to 6 years.
Rahul Sharma's salary increased by 6000. New salary: 91000
Rahul Sharma's year of experience updated to 5 years.

## Without OOP

In [14]:
def describe_employee(employee):
    print(f"Name: {employee['name']}")
    print(f"Number: {employee['number']}")
    print(f"Address: {employee['address']}")
    print(f"Salary: {employee['salary']}")
    print(f"Post: {employee['post']}")
    print(f"Year of Joining: {employee['year_of_joining']}")
    print(f"Education: {employee['education']}")
    print(f"Year of Experience: {employee['year_of_experience']}")

In [15]:
def update_year_of_experience(employee, new_experience):
    employee['year_of_experience'] = new_experience
    print(f"{employee['name']}'s year of experience updated to {employee['year_of_experience']} years.")

In [16]:
def increase_salary(employee, increment_amount):
    employee['salary'] += increment_amount
    print(f"{employee['name']}'s salary increased by {increment_amount}. New salary: {employee['salary']}")

In [17]:
employee101 = {
    "name": "Ali Khan",
    "number": "101",
    "address": "123 Main St, Karachi",
    "salary": 80000,
    "post": "Software Engineer",
    "year_of_joining": 2020,
    "education": "B.Sc. in Computer Science",
    "year_of_experience": 3
}

In [18]:
print(employee101['name'])
print(employee101['number'])
print(employee101['address'])
print(employee101['salary'])

Ali Khan
101
123 Main St, Karachi
80000

In [19]:
describe_employee(employee101)
increase_salary(employee101, 10000)
update_year_of_experience(employee101, 4)

Name: Ali Khan
Number: 101
Address: 123 Main St, Karachi
Salary: 80000
Post: Software Engineer
Year of Joining: 2020
Education: B.Sc. in Computer Science
Year of Experience: 3
Ali Khan's salary increased by 10000. New salary: 90000
Ali Khan's year of experience updated to 4 years.

In [20]:
employees = [
    {"name": "Ayesha Malik", "number": "102", "address": "456 Oak Ave, Lahore", "salary": 90000, "post": "Data Analyst", "year_of_joining": 2018, "education": "M.Sc. in Data Science", "year_of_experience": 5},
    {"name": "Rahul Sharma", "number": "103", "address": "789 Pine Rd, Delhi", "salary": 85000, "post": "Web Developer", "year_of_joining": 2019, "education": "B.Sc. in IT", "year_of_experience": 4},
    {"name": "Zara Ahmed", "number": "104", "address": "135 Maple Blvd, Islamabad", "salary": 70000, "post": "System Admin", "year_of_joining": 2017, "education": "B.Tech in Networking", "year_of_experience": 6},
    {"name": "Arjun Singh", "number": "105", "address": "246 Cedar Ln, Mumbai", "salary": 78000, "post": "Database Administrator", "year_of_joining": 2016, "education": "M.Sc. in Computer Science", "year_of_experience": 7},
    {"name": "Sara Siddiqui", "number": "106", "address": "357 Birch Ct, Hyderabad", "salary": 87000, "post": "Network Engineer", "year_of_joining": 2020, "education": "B.Sc. in Network Engineering", "year_of_experience": 3},
    {"name": "Vikram Patel", "number": "107", "address": "468 Elm St, Bangalore", "salary": 92000, "post": "Software Developer", "year_of_joining": 2015, "education": "M.Sc. in Software Engineering", "year_of_experience": 8},
    {"name": "Hina Qureshi", "number": "108", "address": "579 Spruce Way, Karachi", "salary": 91000, "post": "DevOps Engineer", "year_of_joining": 2018, "education": "M.Sc. in DevOps", "year_of_experience": 5},
    {"name": "Rohan Kumar", "number": "109", "address": "680 Willow Dr, Chennai", "salary": 79000, "post": "Technical Support", "year_of_joining": 2019, "education": "B.Sc. in Computer Science", "year_of_experience": 4},
    {"name": "Anam Khan", "number": "110", "address": "791 Aspen Ave, Lahore", "salary": 83000, "post": "UX/UI Designer", "year_of_joining": 2021, "education": "B.Des. in Design", "year_of_experience": 2},
    {"name": "Sameer Ali", "number": "111", "address": "902 Redwood Pl, Pune", "salary": 75000, "post": "QA Engineer", "year_of_joining": 2017, "education": "B.Tech in Software Testing", "year_of_experience": 6}
]

In [21]:
for emp in employees:
    describe_employee(emp)

Name: Ayesha Malik
Number: 102
Address: 456 Oak Ave, Lahore
Salary: 90000
Post: Data Analyst
Year of Joining: 2018
Education: M.Sc. in Data Science
Year of Experience: 5
Name: Rahul Sharma
Number: 103
Address: 789 Pine Rd, Delhi
Salary: 85000
Post: Web Developer
Year of Joining: 2019
Education: B.Sc. in IT
Year of Experience: 4
Name: Zara Ahmed
Number: 104
Address: 135 Maple Blvd, Islamabad
Salary: 70000
Post: System Admin
Year of Joining: 2017
Education: B.Tech in Networking
Year of Experience: 6
Name: Arjun Singh
Number: 105
Address: 246 Cedar Ln, Mumbai
Salary: 78000
Post: Database Administrator
Year of Joining: 2016
Education: M.Sc. in Computer Science
Year of Experience: 7
Name: Sara Siddiqui
Number: 106
Address: 357 Birch Ct, Hyderabad
Salary: 87000
Post: Network Engineer
Year of Joining: 2020
Education: B.Sc. in Network Engineering
Year of Experience: 3
Name: Vikram Patel
Number: 107
Address: 468 Elm St, Bangalore
Salary: 92000
Post: Software Developer
Year of Joining: 2015
Education: M.Sc. in Software Engineering
Year of Experience: 8
Name: Hina Qureshi
Number: 108
Address: 579 Spruce Way, Karachi
Salary: 91000
Post: DevOps Engineer
Year of Joining: 2018
Education: M.Sc. in DevOps
Year of Experience: 5
Name: Rohan Kumar
Number: 109
Address: 680 Willow Dr, Chennai
Salary: 79000
Post: Technical Support
Year of Joining: 2019
Education: B.Sc. in Computer Science
Year of Experience: 4
Name: Anam Khan
Number: 110
Address: 791 Aspen Ave, Lahore
Salary: 83000
Post: UX/UI Designer
Year of Joining: 2021
Education: B.Des. in Design
Year of Experience: 2
Name: Sameer Ali
Number: 111
Address: 902 Redwood Pl, Pune
Salary: 75000
Post: QA Engineer
Year of Joining: 2017
Education: B.Tech in Software Testing
Year of Experience: 6

In [22]:
increase_salary(employees[0], 5000)
update_year_of_experience(employees[0], 6)
increase_salary(employees[1], 6000)
update_year_of_experience(employees[1], 5)

Ayesha Malik's salary increased by 5000. New salary: 95000
Ayesha Malik's year of experience updated to 6 years.
Rahul Sharma's salary increased by 6000. New salary: 91000
Rahul Sharma's year of experience updated to 5 years.